<img src = "http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s0" >
신이 나를 만들때<span style="color: red; font-weight: bold;"><%= @title %></span> 도 넣고
신이 나를 만들때 <strong style = "color : blue;"><%= @content %></strong> 도 넣고
신이 나를 만들때 <strong style = "color : green;"><%= @content2 %></strong> 도 넣고